@import "compass/reset";

body {
    background-image: url("../images/footer-bg.png");
    
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

.footer {
    margin-top: 50px;
    color:#000;
    padding-bottom: 30px;
    
    #footer-container {
    width: 960px;
    margin: 0 auto;
    #column1 {
        float:left;
        width: 270px;
        h1 {
            padding-top: 50px;
            
               font-size: 16px;
               line-height: 21px;
               color: #273336;
               text-shadow: #8aafbe 0 1px 0;
               font-weight: bold;    
                  
         }
         p{
             padding-top: 10px;

                          
             line-height: 20px;
             color:#fff;
             text-shadow: #5C7279 0 -1px 0;
             font-size: 14px;
         }
    }
    
    #column2 {
           float:left;
           margin-left: 45px;
           width: 270px;
           h1 {
               padding-top: 50px;
               
                  font-size: 16px;
                  line-height: 21px;
                  color: #273336;
                  text-shadow: #8aafbe 0 1px 0;
                  font-weight: bold;    

            }
            p{
                padding-top: 10px;
                line-height: 20px;
                color:#fff;
                text-shadow: #5C7279 0 -1px 0;
                font-size: 14px;
            }
            li {
                list-style: none;
                padding: 5px;
                
                
                a{
                    text-decoration: none;
                    color:#fff;
                    text-shadow: #5C7279 0 -1px 0;
                    font-size: 14px;
                    
                    &:hover {
                        opacity: 0.5;
                    }
                
                }
                
            }
            
            h1#social {
                padding-top: 52px !important;
                padding-bottom: 10px;
                
            }
       }
       
       #column3 {
            float:left;
             margin-left: 45px;
              padding-top: 50px;
              width: 270px;
              h1 {
                     font-size: 16px;
                     line-height: 21px;
                     color: #273336;
                     text-shadow: #8aafbe 0 1px 0;
                     font-weight: bold;    

               }
               p{
                   padding-top: 10px;
                   line-height: 20px;
                   color:#fff;
                   text-shadow: #5C7279 0 -1px 0;
                   font-size: 14px;
               }
       }
    
   
    }
}

.clearfix {
    clear:both;
}

.navigation{
    margin-top: 190px;
    float: left;
    width: 150px;
    
    h1 {
        margin-top: 25px;
        font-size: 16px;
        color:#004c4f;
        padding-left: 5px;
        font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
        
    }
    ul {
        border-left: 1px dotted #444444;
        li {
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 15px;
            font-size: 24px;
            color:#D33C7D;
            font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
            text-shadow: white 1px 1px 1px;
            a {
                text-decoration: none;
                color:#D33C7D;
                font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
                text-shadow: white 1px 1px 1px;
                
                &:hover {
                    color:#6996AD;
                }
            }
        }
    }
}

#inner {
    width: 960px;
    margin: 0 auto;
}

#main {
    padding-top: 60px;
    width: 800px;
    float:left;
    padding-bottom: 20px;
    h1 {
        a{
        font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
        font-size: 4.5em;
        line-height: 1;        
        color: #444;
        text-decoration: none;
        text-shadow: 0 1px 1px white;
        
        &:hover {
            opacity: 0.9;
        };
    }
    }
    
    h2 {
        font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
        font-size: 22px;
        color: #D33C7D;
        font-style: italic;
        
        text-shadow: 0 1px 1px white;
    }
    #myimage {
        margin-top: 20px;
        img {
            float: left;
        }
        p {
            padding-right: 15px;
            padding-top: 15px;
            font-size: 16px;
            font-family: "HelveticaNeue-regular", Helvetica, Arial, sans-serif;
            line-height: 28px;
            color:#554D40;
            text-shadow: white 0 1px 0;
        }
    }
    
}

#container {
    background: url("../images/bg.png");
    margin: 0 auto;
}
