@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Kotta+One);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
@import url(http://fonts.googleapis.com/css?family=Overlock:400,700);
@import url(http://fonts.googleapis.com/css?family=Puritan);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);


h4{
  color:#000;
}

#LikePluginPagelet{
  margin-top:20px;
}

h2 a{
  font-family: 'Josefin Slab', serif;
  text-decoration:none;
  font-size:25px;
  color:#E96236;
  font-weight:700;
}

section.post{
  padding-bottom:20px;
}

section.post header span{
  font-size:11px;
}

section.post.index{
  padding-bottom:20px;
  border-bottom:1px solid #94C8CC;
  margin-bottom:30px;
}

body {
  font-size:15px;
  line-height:25px;
  font-family: 'Arvo', serif;
  color:#7A7A7A;
  background-color:#FFFBF7;
  font-weight:300;
  }

.blogposts{
  h1{
    font-family: 'Josefin Slab', serif;
    font-weight:bold;
    font-size:25px;
    border-bottom:1px dotted #ADB8BA;
    padding-bottom:10px;
    margin-bottom:10px;
  }
  
}

html#facebook{
  margin-top:20px;
}

#dev_nav{
  width:458px;
  margin: 0 auto;
  text-align:right;


    li{
      display:inline-block;
      padding-right:50px;
      line-height:40px;
      a{
        text-decoration:none;
        font-family: 'Josefin Slab', serif;
        color:#E96236;
        font-size:18px;
        font-weight:bold;

        &:hover{
          opacity:.8;
        }
      }
    }
  
  
}

.navigation{
  border-top:1px dotted #E96236;
  border-bottom:1px dotted #E96236;
  margin-bottom:20px;
  
  ul#nav{
  margin: 0 auto;
  width:460px;
  text-align:right;
  }

  ul {
    li{
      display:inline-block;
      padding-right:50px;
      line-height:40px;
      a{
        text-decoration:none;
        font-family: Belgrano;
        color:#42787B;
        font-size:14px;

        &:hover{
          opacity:.8;
        }
      }
    }
  }

  }

#clearfix {
  clear:both;
}

.sidebar{
  margin-top:160px;
  width:250px;
  float:left;
  margin-right:10px;
  h1{
    font-family: 'Josefin Slab', serif;
    font-weight:bold;
    font-size:25px;
  }
}

#inner {
  margin-top:20px;
  width: 760px;
  float:left;
  padding-left:45px; 
}

div#myimage img{
  width:390px;
}

#container {
  background: #FFFBF7;
  border-left:1px dotted #E96236;
  border-right:1px dotted #E96236;
  border-bottom:1px dotted #E96236;
  margin: 0 auto;
  margin-bottom:20px;
  padding-bottom:40px;
  width:850px;
  position:relative;
  margin-top:100px;
}

#project1,
#project2,
#project3,
#project4,
#project5{
  border-bottom:1px solid #42787B;
  padding-bottom:30px;
  height:300px;
}

#project2,
#project3,
#project4,
#project5{
  padding-top:30px;
}

#project1,
#project2,
#project3,
#project4,
#project5{
    a{
      color:#E96236;
      text-decoration:none;
      font-size:25px;
      font-family: 'Josefin Slab', serif;
      font-weight:700;
    }
    h1{
      padding-bottom:10px;
    }
}

#project1,
#project2,
#project3,
#project4,
#project5{
  img{
    float:left; 
 }
}

#project1,
#project2,
#project3,
#project4,
#project5{
  p{
    float:left;
    width:350px;
    padding-left:20px;
  }
}

.contact{
  p{
    a{
      float:left;
      padding-left:15px;

      &:hover{
        color:#E96236;
      }
    }
  }
}

#dribbble,
#twitter, 
#tumblr{
  height:40px;
}
