/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  background: url("../images/bg.png");
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

/* line 8, ../sass/screen.scss */
.footer {
  margin-top: 50px;
  background-image: url("../images/footer-bg.png");
  color: #000;
  padding-bottom: 30px;
}
/* line 14, ../sass/screen.scss */
.footer #footer-container {
  width: 960px;
  margin: 0 auto;
}
/* line 17, ../sass/screen.scss */
.footer #footer-container #column1 {
  float: left;
  width: 270px;
}
/* line 20, ../sass/screen.scss */
.footer #footer-container #column1 h1 {
  padding-top: 50px;
  font-size: 16px;
  line-height: 21px;
  color: #273336;
  text-shadow: #8aafbe 0 1px 0;
  font-weight: bold;
}
/* line 30, ../sass/screen.scss */
.footer #footer-container #column1 p {
  padding-top: 10px;
  line-height: 20px;
  color: #fff;
  text-shadow: #5c7279 0 -1px 0;
  font-size: 14px;
}
/* line 41, ../sass/screen.scss */
.footer #footer-container #column2 {
  float: left;
  margin-left: 45px;
  width: 270px;
}
/* line 45, ../sass/screen.scss */
.footer #footer-container #column2 h1 {
  padding-top: 50px;
  font-size: 16px;
  line-height: 21px;
  color: #273336;
  text-shadow: #8aafbe 0 1px 0;
  font-weight: bold;
}
/* line 55, ../sass/screen.scss */
.footer #footer-container #column2 p {
  padding-top: 10px;
  line-height: 20px;
  color: #fff;
  text-shadow: #5c7279 0 -1px 0;
  font-size: 14px;
}
/* line 62, ../sass/screen.scss */
.footer #footer-container #column2 li {
  list-style: none;
  padding: 5px;
}
/* line 67, ../sass/screen.scss */
.footer #footer-container #column2 li a {
  text-decoration: none;
  color: #fff;
  text-shadow: #5c7279 0 -1px 0;
  font-size: 14px;
}
/* line 73, ../sass/screen.scss */
.footer #footer-container #column2 li a:hover {
  opacity: 0.5;
}
/* line 81, ../sass/screen.scss */
.footer #footer-container #column2 h1#social {
  padding-top: 52px !important;
  padding-bottom: 10px;
}
/* line 88, ../sass/screen.scss */
.footer #footer-container #column3 {
  float: left;
  margin-left: 45px;
  padding-top: 50px;
  width: 270px;
}
/* line 93, ../sass/screen.scss */
.footer #footer-container #column3 h1 {
  font-size: 16px;
  line-height: 21px;
  color: #273336;
  text-shadow: #8aafbe 0 1px 0;
  font-weight: bold;
}
/* line 101, ../sass/screen.scss */
.footer #footer-container #column3 p {
  padding-top: 10px;
  line-height: 20px;
  color: #fff;
  text-shadow: #5c7279 0 -1px 0;
  font-size: 14px;
}

/* line 114, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/* line 118, ../sass/screen.scss */
.navigation {
  margin-top: 190px;
  float: left;
  width: 150px;
}
/* line 123, ../sass/screen.scss */
.navigation h1 {
  margin-top: 25px;
  font-size: 16px;
  color: #004c4f;
  padding-left: 5px;
  font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
}
/* line 131, ../sass/screen.scss */
.navigation ul {
  border-left: 1px dotted #444444;
}
/* line 133, ../sass/screen.scss */
.navigation ul li {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 24px;
  color: #D33C7D;
  font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
  text-shadow: white 1px 1px 1px;
}
/* line 141, ../sass/screen.scss */
.navigation ul li a {
  text-decoration: none;
  color: #D33C7D;
  font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
  text-shadow: white 1px 1px 1px;
}
/* line 147, ../sass/screen.scss */
.navigation ul li a:hover {
  color: #6996AD;
}

/* line 155, ../sass/screen.scss */
#main {
  margin-top: 60px;
  width: 800px;
  float: left;
}
/* line 160, ../sass/screen.scss */
#main h1 a {
  font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-size: 4.5em;
  line-height: 1;
  color: #444;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
}
/* line 168, ../sass/screen.scss */
#main h1 a:hover {
  opacity: 0.9;
}
/* line 174, ../sass/screen.scss */
#main h2 {
  font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-size: 22px;
  color: #D33C7D;
  font-style: italic;
  text-shadow: 0 1px 1px white;
}
/* line 182, ../sass/screen.scss */
#main #myimage {
  margin-top: 20px;
}
/* line 184, ../sass/screen.scss */
#main #myimage img {
  float: left;
}
/* line 187, ../sass/screen.scss */
#main #myimage p {
  padding-right: 15px;
  padding-top: 15px;
  font-size: 16px;
  font-family: "HelveticaNeue-regular", Helvetica, Arial, sans-serif;
  line-height: 28px;
  color: #554D40;
  text-shadow: white 0 1px 0;
}

/* line 200, ../sass/screen.scss */
#container {
  width: 960px;
  margin: 0 auto;
}
