<!-- <div id="featured">
    <div id="design"> <img src="../images/design-icon.png"> </div> 
    <div id="code"> </div>
    <div id="fun"> </div> 
<div class="clearfix"></div>
</div> -->

<div class="footer">
    <div id="footer-container">
        <div id="column1">
            <h1>AWESOME THINGS I LOVE:</h1>
            <p>My husband, My Fuzzy Animals, Pretty designs, Clean code, Old things, Awesome Pictures, Hot chocolate, Apple, My family, and Pretty dresses.</p>
        
         <h1>THINGS I'VE WORKED ON</h1>
            <p>Coming soon..</p>
        
        </div>
        
         <div id="column2">
             <h1>NERDY THINGS I KNOW</h1>
             <p>HTML, HTML5, CSS, CSS3, SASS & Compass, Ruby on Rails, Photoshop.</br> Soon: JavaScript, Cocoa</p>
            
            <h1 id="social">FIND ME HERE</h1>
            <li><a href="http://twitter.com/mrsdougan" targer="_blank">Twitter</a></li>
            <li><a href="http://facebook.com/sarahganon" targer="_blank">Facebook</a></li>
            <li><a href="http://mrsdougan.tumblr.com" targer="_blank">Tumblr</a></li>
            <li><a href="http://last.fm/user/kittykittyy" targer="_blank">Last.FM</a></li>
            <li><a href="http://dribbble.com/mrsdougan" targer="_blank">Dribbble</a></li>
            <li><a href="http://www.zerply.com/profile/mrsdougan" targer="_blank">Zerply</a></li>
        </div>
        
         <div id="column3">
             <h1>LATEST TWEETS</h1>
             <script src="http://widgets.twimg.com/j/2/widget.js"></script>
             <script>
             new TWTR.Widget({
               version: 2,
               type: 'profile',
               rpp: 4,
               interval: 6000,
               width: 250,
               height: 300,
               theme: {
                 shell: {
                   background: '##transparent',
                   color: '#ffffff'
                 },
                 tweets: {
                   background: 'transparent',
                   color: '#ffffff',
                   links: '#dddddd'
                 }
               },
               features: {
                 scrollbar: false,
                 loop: false,
                 live: false,
                 hashtags: true,
                 timestamp: true,
                 avatars: false,
                 behavior: 'all'
               }
             }).render().setUser('mrsdougan').start();
             </script>
            
            
            
            
            </div>
    </div>
    <div class="clearfix"></div>
</div>