<div class="footer">
	<div class="footer_top">
		<h3>Get in touch</h3>
		<ul class="personal">
			<li class="location">Amsterdam, The Netherlands</li>
			<li class="email">sarah@dougan.me</li>
		</ul>
	</div>

	<div class="footer_bottom">
		&copy; 2014 Dougan Design. All rights reserved
	</div>
</div>