<div class="nav_wrap">
	<ul class="navigation">
		<li class="design"><%= link_to "home", home_path %></li>
	    <li class="dribbble"><%= link_to "work", portfolio_path %></li>
	    <li class="dribbble"><%= link_to "about", about_path %></li>
	    <li class="dribbble"><%= link_to "contact", contact_path %></li>
	</ul>
</div>
