<div class="nav_wrap">
	<div class="logo">Dougan Designs</div>
	<div class="wrapper">
		<ul class="navigation">
			<li class="design"><%= link_to "home", home_path %></li>
		    <li><%= link_to "work", portfolio_path %></li>
		    <li><%= link_to "about", about_path %></li>
		    <li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>
