<div class="nav_wrap">
	<div class="logo">Dougan Designs</div>
	<div class="wrapper">
		<ul class="navigation">
			<li class="design"><%= link_to "Home", home_path %></li>
		    <li><%= link_to "Work", portfolio_path %></li>
		    <li><%= link_to "About", about_path %></li>
		    <li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>
