<div class="navigation">
    <ul id="nav">
        <li>Home</li>
        <li><%= link_to "About", about_path %></li>
        <li>Blog</li>
        <li>Contact</li>
        <li>Portfolio</li>
        
    </nav>
    

    
</div>