<ul class="navigation dev">
    <li class="design"><%= link_to "Design", portfolio_design_path %></li>
    <li class="development"><%= link_to "Development", portfolio_path %></li>
    <li class="dribbble"><%= link_to "Dribbble", portfolio_dribbble_path %></li>
</ul>
