<div class="about">
	<div class="wrapper">
		<div class="title">
			<h1>A little about me..</h1>
		</div>
	</div>

	<div class="about_me">
		<div class="inner">
				<div class="me"></div>
				<div class="info">
					<p>
						I'm a twenty-something year old designer and developer born and raised in Dublin, Ireland. Previously I lived in San Francisco where I worked with various startups and clients on a wide range of websites, UIs and product design. I gained a lot of experience there and got a real feel for the 'startup culture'. Fueled by tea and puppy cuddles I am currently settled in Amsterdam with my husband and our kitties and dogs. 
					</p>
					<p>I've always loved art and design for as far back as I remember I'd love making things look pretty and drawing, then as I got older I realised it was something I could take further. Designing is something more than a job or hobby for me, it's something I love doing daily. From web design to character design, I love exploring and working with all types of design and graphics.</p>

					<p>Other than web design I enjoy lots of cycling (yay flat Netherlands), drawing, tea, painting, motorbikes, travelling, tattoos and all sorts of crafts.</p>

					<p>Get in touch and let's work together!</p>

			</div>
			<div class="clearfix"></div>
		</div>
</div>