<section class="about">

	<%= image_tag asset_path 'me.jpg' %>
   <p> I'm Sarah - a Web Developer & Designer. <br />Currently living in the beautiful San Francisco with my amazing <a target="_blank" href="http://robertdougan.com">Husband</a>, two kitties and two chihuahuas.  I love cycling,  fashion, photography,  design,  coding,  hot chocolate, motorbikes, tattoos, Apple, and my family.
    <br /><br />I have always loved and known that I wanted to be a developer &amp; designer from a young age and it has been all I've been interested in as a career since. Lately I am really getting into design and learning and hoping to grow my skills loads :)</p>

    <div class="clearfix"></div>
    
</section>
