<div id="main">
    <h1><%= link_to 'Sarah Dougan', root_url %> </h1>
    <h2>Web Desiger & Developer</h2>
    
    <div id="myimage">
    <p> Coming soon! :) </br>
    You can email me here: <a href="mailto:sarahdougan@me.com"> sarahdougan@me.com</br>
    </p>    
    </div>
    

 
</div>
