<div class="contact">
	<div id="dribbble">
		<img style="height:25px; float:left" src="../images/dribbble.png" />
		<p><a href="http://dribbble.com/mrsdougan" target="_blank">dribbble.com/mrsdougan</a></p>
	</div>
	<div id="clearfix"></div>

	<div id="twitter">
		<img style="height:25px; float:left" style="height:25px" src="../images/twitter.png" />
		<p><a href="http://dribbble.com/mrsdougan" target="_blank">twitter.com/mrsdougan</a></p>
	</div>
	<div id="clearfix"></div>


	<div id="tumblr">
		<img style="height:25px; float:left" style="height:25px" src="../images/tumblr.png" />
		<p><a href="http://dribbble.com/mrsdougan" target="_blank">mrsdougan.tumblr.com</a></p>
	</div>
	<div id="clearfix"></div>
	or e-mail me: <a href="mailto:sarahdougan@me.com?">sarahdougan@me.com
</div>
