<div class="contact">
	<div class="wrapper">
		<div class="title">
			<h1>Contact me</h1>
			<p>Send me an email, I'd love to hear about your project!</p>
		</div>
	</div>

	<div class="contact_form">
		<div class="inner">
			<form>
				<label>Your name</label><br>
				<input type="text" name="name"><br>

				<label>Email</label><br>
				<input type="email" name="email"><br>

				<label>Some Details</label><br>
				<textarea></textarea>	<br>

				<button>Send</button>
			</form>

			<div class="info">
				<p>Some things I need to know:</p>
			</div>
				
			<div class="clearfix"></div>
		</div>
	</div>
</div>

