<section class="contact">
	<ul>
		<li class="dribbble">
			<a href="http://dribbble.com/mrsdougan" target="_blank">dribbble.com/mrsdougan</a>
		</li>

		<li class="twitter">
			<a href="http://twitter.com/mrsdougan" target="_blank">twitter.com/mrsdougan</a>
		</li>

		<li class="tumblr">
			<a href="http://mrsdougan.tumblr.com" target="_blank">mrsdougan.tumblr.com</a>
		</li>

		<li class="email">
			or e-mail me: <a href="mailto:sarahdougan@me.com">sarahdougan@me.com</a>
		</li>
	</ul>
</section>
