<div class="home">
	<div class="wrapper">
		<div class="title">
			<h1>I'm <div class="highlight">Sarah Dougan</div>, I'm a Web Designer <div class="highlight">&</div> Front-end Developer.</h1>
			<p>I enjoy making pixel perfect websites, UI's, graphics, illustrations, drawing, drinking tea and going for bike rides. </p>
		</div>
	</div>

	<div class="latest_work">
		<div class="wrapper">
			<h3>Latest Work</h3>
			<p>Here are a few of my recent projects</p>

			<%= render :partial => 'preview_work' %>
			
			<div class="clearfix"></div>
		</div>
	</div>
</div>