<div class="home">
	<div class="wrapper">
		<div class="title">
			<h1>I'm <div class="highlight">Sarah Dougan</div>, I'm a web designer <div class="highlight">&</div> front-end developer.</h1>
			<p>I enjoy making pixel perfect websites, UI's, graphics, illustrations, drawing, drinking tea and going for bike rides. </p>
		</div>
	</div>

	<div class="latest_work">
		<div class="wrapper">

			<%= render :partial => 'preview_work' %>
			
			<div class="clearfix"></div>
		</div>
	</div>
</div>