<div id="main">
    <h1><%= link_to 'Sarah Dougan', root_url %> </h1>
    <h2>Web Desiger & Developer</h2>
    
    <div id="myimage"><img src="../images/me.png">
    <p>Hi, I'm Sarah :) originally from Ireland, but currently living in San Francisco with my amazing husband, two kitties and two little chihuahuas.</br> Web Development is something I have always been passionate about, and is more than just a job for me. It's my hobby too, along with photography (although, I'm pretty bad, I'll get good one day!), Fashion, Learning new things, and finding new pretty places to go on walks! Check out my blog for updates and Portfolio for what I've been working on! </br>Thanks! :) </p>    
    </div>
    

 
</div>

