<section class="portfolio design">
    <%= render :partial => "shared/portfolio_nav" %>

    <ul class="projects">
        <li>
            <a href="http://ban.jo" target="_blank">
                <%= image_tag asset_path 'banjo.png' %>
            </a>
        </li>

        <li>
            <a href="http://securityscoreboard.com" target="_blank">
                <%= image_tag asset_path 'yoofora.png' %>
            </a>
            

        </li>

        <li>
            <a href="http://noca.com" target="_blank">
                <%= image_tag asset_path 'noca.png' %>
            </a>
        
        </li>
    </div>
</section>
