<div id="main">
    <h1><%= link_to 'Sarah Dougan', root_url %> </h1>
    <h2>Web Designer & Developer</h2>
    
    <div id="myimage">
        <div id="project1">
            <a href="http://ban.jo" target="_blank">
                <h1>Banjo</h1>
            <img id="banjo" src="../images/banjo.png"/> 
            </a>       
        </div>
        
        <div id="project2">
            <a href="http://securityscoreboard.com" target="_blank">
            <h1>Yoofora</h1>
            <img id="yoofora" src="../images/yoofora.png"/>     
            </a>   
        </div>
        
         <div id="project3">
                <a href="http://plantbasedapps.com" target="_blank">
                    <h1>Plant Based Apps</h1>
                <img id="pbapps" src="../images/pbapps.png"/>    
                </a>    
            </div>
            
      <div id="project4">
                <a href="http://soundpostr.com" target="_blank">
                    <h1>Soundpostr</h1>
                <img id="soundpostr" src="../images/soundpostr.png"/>    
                </a>    
            </div>
            
    <div id="project5">
                <a href="http://noca.com" target="_blank"><h1>Noca</h1></a>
                <img id="noca" src="../images/noca.png"/>        
            </div>
            
            
            
    </div>
    
    
    <div class=clearfix></div>

</div>
