<section class="portfolio design">
    <%= render :partial => "shared/portfolio_nav" %>

    <ul class="projects">
        <li>
            <a href="http://ban.jo" target="_blank">
                <h1>...</h1>
                <%= image_tag asset_path 'banjo.png' %>
            </a>
            <p>I re-designed and coded the Blog page. <br />
                <u>Tools Used:</u> Photoshop, Textmate, WordPress. <br />
                <u>Languages used:</u> HTML, CSS, PHP.
            </p>
        </li>
    </div>
</section>
