<div class="portfolio">
	<div class="wrapper">
		<div class="title">
			<h1>Check out my work</h1>
			<p>Below you will find a few of the recent projects I've worked on.</p>
		</div>
	</div>


	<div class="latest_work">
		<div class="wrapper">

			<div class="box_wrapper">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>

			<div class="box_wrapper">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>
			
			<div class="clearfix"></div>
		</div>
	</div>
</div>
