<section class="portfolio dribbble">
    <%= render :partial => "shared/portfolio_nav" %>

    <ul class="dribbbles">

    </ul>

    <p class="loading">Loading Dribbble images...</p>

    <script type="text/javascript">

        $(window).ready(function() {
            $('ul.dribbbles').hide();

            $.ajax({
                url: 'http://api.dribbble.com/players/mrsdougan/shots',
                dataType: 'jsonp',
                crossDomain: true,
                success: function(data) {
                    var ln = data.shots.length,
                        i, shot;

                    for (i = 0; i < ln; i++) {
                        shot = data.shots[i];

                        $('ul.dribbbles').append('<li><a href="' + shot.url + '"><div class="image" style="background-image: url(' + shot.image_url + ')"></div></a></li>');
                    }

                    $('.dribbble .loading').fadeOut(500, function() {
                        $('ul.dribbbles').fadeIn();
                    });
                },
                error: function() {
                    console.log('error');
                }
            })
        });

    </script>
</section>
