<section class="post">
    <header>
        <h2><%= link_to post.name, { :controller => 'posts', :action => 'show', :permalink => post.permalink } %></h2>
        <span><%= post.created_at.strftime("%d/%m/%Y") %></span>
    </header>
    
    <%= markdown(post.body) %>

    <div class="divider"></div>
</section>
