@import "compass";
@import "compass/reset";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Podkova);

body {
    font-size:15px;
    line-height:25px;
    font-family: 'arvo',Arial,sans-serif;    
    color:#32565D;
    background-color:#FFFFFF;
    font-weight:300;
    background: url(asset-path("background.png", image)) repeat scroll 0 0 #fff;
}

.clearfix {
    clear: both;
}



.logowrapper{
    margin: 0 auto;
    width: 850px;
    img{
        width:373px;
        height:107px;
        margin: 0 auto;
        display:block;
        padding-top:50px;
    }
}


// Wrapper
.wrapper {
    background: #fff;
/*    border-left: 1px dotted #E96236;
    border-right: 1px dotted #E96236;
    border-bottom: 1px dotted #E96236;*/
    margin: 30px auto;
    width: 850px;

    > section {
        padding: 45px;
    }
}

// Navigation
.navigation {
    border-top: 1px solid #E3E2DE;
    border-bottom: 1px solid #E3E2DE;
    text-align: center;

    > li {
        display: inline-block;
        padding: 10px;
    }

    a {
        text-decoration: none;
        font-family: Belgrano;
        color: #678287;
        font-size: 16px;

        &:hover {
            color: #E96236;
        }
    }

    &.dev {
        margin-bottom: 45px;

        a {
            font-family: 'Josefin Slab', serif;
            color: #678287;
            font-size: 18px;
            font-weight: bold;

            &:hover {
            color: #E96236;
             }
        }



        .design & .design a,
        .development & .development a,
        .dribbble & .dribbble a {
            color: #E96236;
        }
    }
}

// Portfolio
.projects > li {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 300px;
    border-bottom: 1px solid #E3E2DE;


    &:first-child {
        padding-top:0;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    a {
        color: #FF6E5B;
        text-decoration: none;
        font-size: 24px;
        font-family: 'Belgrano', serif;
        font-weight: 400;
    }

    h1 {
        padding-bottom: 10px;
    }

    img {
        float: left;
        width: 390px;
    }

    img:hover {
        opacity:.8;
    }

    p {
      float: left;
      width: 350px;
      padding-left: 20px;
    }
}

// Contact
.contact ul li {
    padding: 5px 0 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;

    &:last-child {
        padding-bottom: 0;
    }

    &.dribbble {
        background-image: url(dribbble.png);
        background-size: 25px;
    }

    &.twitter {
        background-image: url(twitter.png);
        background-size: 25px;
    }

    &.tumblr {
        background-image: url(tumblr.png);
        background-size: 25px;
    }

    a {
        text-decoration: none;
        color:#E96236;
    }
}

// Blog
.blog {
    .post {
        margin-bottom: 45px;
        border-bottom: 1px solid #E3E2DE;

        header {
            h2 a {
                font-family: 'Josefin Slab', serif;
                text-decoration: none;
                font-size: 24px;
                color: #FF6E5B;
                font-weight: 400;
            }

            span {
                font-size: 11px;
            }
        }

        p {
            margin-bottom: 40px;

        }

        &:last-child {
            margin-bottom: 0;
            border-bottom:0;

            .divider {
                display: none;
            }

            p{
                margin-bottom: 0;
            }
        }
    }

    &.show {
        .post {
            border-bottom: 0;

            .divider {
                display: none;
            }
        }
    }

    .twitter-share-button {
        width: 78px !important;
    }

    .fb-comments {
        margin-top: 10px;
    }


}

// Dribbble
.dribbble {
    .loading,
    ul.dribbles {
        text-align: center;
    }

    ul.dribbbles li {
        display: inline-block;
        border: 3px solid white;
box-shadow: 0 1px 5px #8C8C8C;
        margin: 5px;

        .image {
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h3 {

        }
    }
}


html#facebook{
  margin-top:20px;
}

.footer{
    text-align: center;
    padding:0;
    font-size:11px;
    margin-bottom:20px;
}

section.about {
    img{
    width:330px;
    float:left;
    }

    p {
        float:left;
        width:400px;
        padding-left:30px;
    }   

    a{
        text-decoration: none;
        color: #32565D;

        &:hover {
            opacity: .8;
        }
    }
}
