@import "compass";
@import "compass/reset";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Podkova);

body {
    font-size:15px;
    line-height:25px;
    font-family: 'arvo',Arial,sans-serif;    
    color:#7A7A7A;
    background-color:#FFFFFF;
    text-shadow: 1px 1px 1px #fff;
    font-weight:300;
    background: url(asset-path("body_bg.jpg", image)) repeat scroll 0 0 #fff;
}

.clearfix {
    clear: both;
}



.logowrapper{
    margin: 0 auto;
    width: 850px;
    img{
        width:327px;
        height:87px;
        margin: 0 auto;
        display:block;
        padding-top:50px;
    }
}


// Wrapper
.wrapper {
    background: #F7F7F7;
    border: 1px solid white;
    margin: 30px auto;
    width: 850px;
     -webkit-box-shadow: 0px 0px 5px 0px #e4e2e2;
  -moz-box-shadow: 0px 0px 5px 0px #e4e2e2;
  box-shadow: 0px 0px 5px 0px #e4e2e2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

    > section {
        padding: 45px;
    }
}

// Navigation
.navigation {
    
    text-align: center;

    > li {
        display: inline-block;
        padding: 10px;
    }

    a {
        text-decoration: none;
        font-family: Belgrano;
        color: #693848;
        font-size: 16px;

        &:hover {
            opacity:.8;
        }
    }

    &.dev {
        margin-bottom: 45px;
        border-top:1px solid #dcdcdc;
        border-bottom:1px solid #dcdcdc;


        a {
            font-family: Belgrano;
            color: #69100F;
            font-size: 16px;

            &:hover {
            opacity:.8;
             }
        }



        .design & .design a,
        .development & .development a,
        .dribbble & .dribbble a {
            color: #69100F;
        }
    }
}

// Portfolio
.projects > li {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 300px;
    border-bottom: 1px solid #E3E2DE;


    &:first-child {
        padding-top:0;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    a {
        color: #69100F;
        text-decoration: none;
        font-size: 24px;
        font-family: 'Belgrano', serif;
        font-weight: 400;
    }

    h1 {
        padding-bottom: 10px;
    }

    img {
        float: left;
        width: 390px;
        border-radius:5px;
        border:1px solid #dcdcdc;
    }

    img:hover {
        opacity:.8;
    }

    p {
      float: left;
      width: 347px;
      padding-left: 20px;
    }
}

// Contact
.contact ul li {
    padding: 5px 0 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;

    &:last-child {
        padding-bottom: 0;
    }

    &.dribbble {
        background-image: url(dribbble.png);
        background-size: 25px;
    }

    &.twitter {
        background-image: url(twitter.png);
        background-size: 25px;
    }

    &.tumblr {
        background-image: url(tumblr.png);
        background-size: 25px;
    }

    a {
        text-decoration: none;
        color:#693848;
    }
}

// Blog
.blog {
    .post {
        margin-bottom: 45px;
        border-bottom: 1px solid #E3E2DE;

        header {
            h2 a {
                font-family: 'Josefin Slab', serif;
                text-decoration: none;
                font-size: 22px;
                color: #686767;
            }

            span {
                font-size: 11px;
            }
        }

        p {
            margin-bottom: 40px;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom:0;

            .divider {
                display: none;
            }

            p{
                margin-bottom: 0;
            }
        }
    }

    &.show {
        .post {
            border-bottom: 0;

            .divider {
                display: none;
            }
        }
    }

    .twitter-share-button {
        width: 78px !important;
    }

    .fb-comments {
        margin-top: 10px;
    }


}

// Dribbble
.dribbble {
    .loading,
    ul.dribbles {
        text-align: center;
    }

    ul.dribbbles li {
        display: inline-block;
        border: 2px solid white;
        box-shadow: 0 1px 2px #8C8C8C;
        margin: 5px;
        border-radius:4px;

        .image {
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &:hover{
                opacity:.8;
            }
        }

        h3 {

        }
    }
}


html#facebook{
  margin-top:20px;
}

.footer{
    text-align: center;
    padding:0;
    font-size:11px;
    margin-bottom:20px;
}

section.about {
    img{
    width:330px;
    float:left;
    border-radius:4px;
    }

    p {
        float:left;
        width:400px;
        padding-left:30px;
    }   

    a{
        text-decoration: none;
        color: #B5617B;

        &:hover {
            opacity: .8;
        }
    }
}
